@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=New+Rocker&family=Raleway&display=swap');

:root {
    /* --background: #f79808; */
    --background: #0f7988;
    --buttoncolor: #2b78e4;
    --textcolor: #eeffdd;
    --bordercolor: #000;
    --iconcolor: #4D4D4D;
    --white: #fff;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/concert.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2500px;
}

footer {
    flex-shrink: 0;
}

.hide {
    display: none !important;
}

/* header */
header {
    width: 100%;
    background-color: var(--background);
    color: var(--textcolor);
    text-align: center;
    box-sizing: border-box;
    padding: 1rem 0;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-family: 'New Rocker', sans-serif;
    letter-spacing: 5px;
    color: var(--bordercolor);
}

.home {
    padding-left: 1rem;
}

/* Code to hide spotify box */

.iframe-container {
    position: absolute;
    width: 48px;
    height: 45px;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    z-index: 1;
    bottom: -67px;
    right: 0%;
    opacity: 0;
}

.iframe-container .play-button {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 9px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background: var(--blue);
    pointer-events: none;
    cursor: pointer;
}

.overlay-two:before {
    content: '';
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: -5px;
}

/* radio game screen */
.radio-box {
    width: 90%;
    max-width: 765px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 21px -12px rgb(0 0 0 / 66%);
    border: 2px solid var(--background);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.next-button {
    background-color: var(--blue);
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.radio-screen {
    width: 90%;
    height: 250px;
    border-radius: 5px;
    left: 50px;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin: 20px;
}

#timerscore {
    display: flex;
    justify-content: space-between;
    margin: 0 5.5%;
}

.timerscore {
    border: 1px solid #888;
}

#user-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-info fieldset {
    padding: 1rem;
    margin: 1rem 0;
}

/* Game Lives */

.life {
    height: 25px;
}

.life-container img {
    height: 25px;
    margin: 1.5rem 0.5rem 0 0.5rem;
}

/* counter */
#main-timer{
    width: 75px;
    height: 75px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.base-timer {
    position: relative;
    width: 75px;
    height: 75px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: rgb(37, 37, 37);
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(63, 186, 103);
  }
  
  .base-timer__path-remaining.orange {
    color: rgb(221, 130, 15);
  }
  
  .base-timer__path-remaining.red {
    color: rgb(215, 83, 83);
  }
  
  .base-timer__label {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

/* Bonus modal*/
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay .modal{
    width: 90%;
    max-width: 350px;
    height: 300px;
    border:2px solid var(--background);
    border-radius: 10px;
    background: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column;
}

#overlay .modal h2{
    font-size: 2rem;
    font-family: 'New Rocker', sans-serif;
    margin: 15px 0;
}

#overlay .modal h3{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    margin:0 0 15px 0;
    font-weight: 500;
}

#overlay .modal h3 span{
    font-weight: 600;
}

#overlay .modal .button-container .bonus-btn{
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: var(--background);
    color: white;
    width: 60px;
    height: 27px;
}

#overlay .modal .button-container .bonus-btn.correct{
    background: rgb(63, 186, 103);
}

#overlay .modal .button-container .bonus-btn.incorrect{
    background: rgb(215, 83, 83);
}

#bonus-timer{
    width: 75px;
    height: 75px;
    background: var(--background);
    display: flex;
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    right: 50%;
    bottom: 10px;
    transform: translate(50%, 0);
}

#bonus-timer span{
    font-size: 20px;
    color: white;
}

/* Scoring */

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score {
    font-weight: 600;
    color: #2418c5;
    font-size: 1.5rem;
}
