@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Fascinate&family=Fascinate+Inline&family=Pirata+One&display=swapLato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #F79808;
    --buttoncolor: #2B78E4;
    --textcolor: #000;
    --bordercolor: #000;
    --iconcolor: #4D4D4D;
    --white: #fff;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/hero-img.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2500px;
}

footer {
    flex-shrink: 0;
}

.hide {
    display: none !important;
}

header {
    width: 100%;
    background-color: var(--background);
    color: var(--textcolor);
    text-align: center;
    box-sizing: border-box;
}


/* Code to hide spotify box */

.iframe-container {
    position: absolute;
    width: 48px;
    height: 45px;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    z-index: 1;
    bottom: -67px;
    right: 0%;
    opacity: 0;
}

.iframe-container .play-button {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 9px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background: var(--blue);
    pointer-events: none;
    cursor: pointer;
}

.overlay-two:before {
    content: '';
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: -5px;
}

.disable {
    pointer-events: none;
}

/* radio game screen */
.radio-box {
    width: 800px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 21px -12px rgb(0 0 0 / 66%);
    border: 2px solid var(--background);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.next-button {
    background-color: var(--blue);
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.radio-screen {
    width: 90%;
    height: 250px;
    border-radius: 5px;
    left: 50px;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin: 20px;
}

#timerscore {
    display: flex;
    justify-content: space-between;
    margin: 0 5.5%;
}

.timerscore {
    border: 1px solid #888;
}

#user-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-info fieldset {
    padding: 1rem;
    margin: 1rem 0;
}

/* Game Lives */

.life {
    height: 25px;
}

.life-container img {
    height: 25px;
    margin: 1.5rem 0.5rem 0 0.5rem;
}

/* counter */
#watch{
    width: 100px;
    height: 100px;
}

.base-timer {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: rgb(37, 37, 37);
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
  }
/* Scoring */

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score {
    font-weight: 600;
    color: #2418c5;
    font-size: 1.5rem;
}
