@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Fascinate&family=Fascinate+Inline&family=Pirata+One&display=swapLato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --yellow: #f79808;
    --blue: #2b78e4;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */

header {
    width: 100%;
    background-color: white;
    height: 45px;
    color: #000;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

/* center section */
#center {
    height: 471px;
    font-family: 'Lato', sans-serif;
}

/* welcome box */
#welcome {
    width: 80%;
    margin: 0.5rem auto;
    padding: 1rem;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

#instructions {
    display: flex;
}

#instructions_modal_btn {
    height: 25%;
    margin-top: auto;
}

#instructions_modal {
    display: none;
    z-index: 1;
    padding-top: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    align-self: flex-end;
}


#instructions_modal_content {
    background-color: #276bcc;
    color: #fff;
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 97%;
}


#instructions_modal_close {
    /* color: #aaaaaa; */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#instructions_modal_close:hover,
#instructions_modal_close:focus {
    /* color: #000; */
    text-decoration: none;
    cursor: pointer;
}

#timerscore {
    display: flex;
    justify-content: space-between;
    margin: 0 5.5%;
}

.timerscore {
    border: 1px solid #888;
}

/* info panel */
#info {
    height: 100px;
    border: 1px solid black;
    width: 80%;
    margin: 0.5rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#startbutton {
    width: 50px;
    height: 50px;
    align-self: flex-end;
}

#answer {
    height: 115px;
    border: 1px solid black;
    width: 82%;
    margin: 0.5rem auto;
    padding: 0.75rem;
}

#guessactions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#answerform {
    margin: 0;
    height: 6rem;
}

#submitguess {
    width: 20%;
    height: 7rem;
}

.guesstext {
    width: 80%;
    height: 7rem;
}

/* footer */
footer {
    border: 1px solid black;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Code to hide spotify box */

.iframe-container {
    position: absolute;
    width: 48px;
    height: 45px;
    overflow: hidden;
}

.iframe-container iframe{
    position: absolute;
    z-index: 1;
    bottom: -67px;
    right: 0%;
    opacity: 0;
}

.iframe-container .play-button{
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 9px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background: var(--blue);
    pointer-events: none;
    cursor: pointer;
}

.mainpage_box {
    border: 1px solid black;
    width: 80%;
    margin: 0.5rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

/* radio game screen */
.radio-box {
    width: 800px;
    height: 400px;
    background-color: black;
    border: 30px solid var(--yellow);
    border-radius: 30px;
    position: relative;
}

.next-button {
    background-color: var(--blue);
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.radio-screen {
    width: 700px;
    height: 250px;
    background-color: var(--yellow);
    border-radius: 30px;
    position: absolute;
    left: 50px;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}